/* General */
body {
  background: #FFFFFF;
}

/* Paragraph */
p {
  font-size: 24px;
  font-family: "proxima-nova",sans-serif;
  color: #444;
  font-weight: 300;
}

div.hidden {
    display: none
}
.small{
	font-size: 18px;
}
.large{
	font-size: 72px;
}
.center{
	text-align: center;
}
.padthat{
  padding-bottom: 100px;
}
.work{
	text-align: center;
	padding-top: 150px;
	padding-bottom: 100px;
}
.white{
	color: #fafafa;
}
.period p{
	color: red;
}
.rightme{
	float: right;
}


/* Headings */
h1{
  font-size: 48px;
}
h1, h2, h3 , h4, h5, h6{
  font-family: "futura-pt",sans-serif;
  color: #222;
  font-weight: 600;
  line-height: 1.1;
}

/* Link */
a {
  color: #000;
  font-family: "proxima-nova",sans-serif;
  text-decoration: none;
  font-weight: 600;
}

/* Full-width horizontal sections */
body > header,
body > section,
body > footer {
  display: block;
  width: 100%;
  clear: both;
  float: left;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}


/* Buttons */
.button-square{
  border-radius: 2px;
  background:rgba(0,0,0,0);
  border: 3px solid #000;
  padding: 8px 16px;
  color: #000;
  margin-top:0px;
}
.button-square:hover, .button-square:focus{
	background: #000;
	color: #fff;
}

section, footer {
  padding: 30px 0;
}

.backinblack{
	background-image: url("img/geo.png");
	background-color: #232323;
	color: #FAFAFA;
	padding-top: 150px;
	padding-bottom: 150px;
}
.backinblack p,h1{
	color: #232323;
}
.yummymelon{
	background-color: #FFA64D;
	color: #FAFAFA;
	padding-top: 150px;
	padding-bottom: 150px;
}

.smoothred{
	background-color: #E64837;
	color: #FAFAFA;
	padding-top: 150px;
	padding-bottom: 150px;
}

.blueyoyo{
	background-color: #2693FF;
	color: #FAFAFA;
	padding-top: 150px;
	padding-bottom: 150px;
}

.damp{
	background-color: #617F89;
	color: #FAFAFA;
	padding-top: 150px;
	padding-bottom: 150px;
}

.greyskies{
	background-color: #CCCCCC;
	color: #FAFAFA;
	padding-top: 150px;
	padding-bottom: 150px;
}

.oceanspray{
	background-color: #4DFFFF;
	color: #FAFAFA;
	padding-top: 150px;
	padding-bottom: 150px;
}

.hover {
    background-size:cover;
    overflow:hidden;
    position:relative;
}

.hover p {
    text-align:center;
    position:absolute;
    top:45%;
    width:100%;
    transform:translate(0%,-50%);
    -webkit-transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    color:#FFFFFF;
    display:none;
}

.hover:hover img {
    filter: brightness(0.4);
    -webkit-filter:brightness(0.4);
    -ms-filter:brightness(0.4);
}

.hover:hover p {
    display:block;
}

@media only screen and (max-width : 780px) {
p {
  font-size: 18px;
}

h1{
	padding-top: 45px;
}

.large{
	padding-top: 45px;
	font-size: 30px;
}

.hover p {
	font-size: 18px;
}
.left{
  display: none;
}
.right{
  display: none;
}
}

.embed { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
} 
.embed iframe, .embed object, .embed embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

.left{
  position: fixed;
  top: 50%;
  left: 0px;
  width: 50px;
}
.right{
  position: fixed;
  top: 50%;
  right: 0px;
  width: 50px;
}
.grow img {
  height: 50px;
  width: 50px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.grow img:hover {
  width: 53px;
  height: 53px;
}

/* Navigation */
nav a{
    color: #FAFAFA;
}

nav a:hover{
    color: #DDDDDD;
}
.open{
    top: 0;
}
.menu-btn{
    cursor: pointer;
    background-image: url("img/btn-hamburger.png");
    height: 120px;
    width: 120px;
    background-size: cover;
    display: inline;
    z-index: 11;
    position: absolute;
    top: 2;
    right: 0;
}
.close-btn{
    background-image: url("img/btn-close.png");
}
nav{
    position: fixed;
    top: -1600px;
    left: 0;
    right: 0;
    background-image: url("img/geo.png");
    background-color: #232323;
    transition: all 0.5s;
	height: 100%;
	z-index: 10;
}
nav > ul{
  text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
nav > ul > li > a{
    font-size: 48px;
    font-weight: bold;
    padding: 20px 0px 20px 0px;
    display: block;
}
.bar{
  height: 120px;
}
.bar img{
  padding-top: 20px;
  margin-left: 30px; 
}


@media all and (max-width: 500px){
       nav > ul > li > a{
            font-size: 20px;
        }
.bar img{
  padding-top: 20px;
  margin-left: 0px; 
}

}